[Unit]
Description=Screen Share SFU
After=network-online.target
Wants=network-online.target

[Service]
User=coffee
WorkingDirectory=/home/coffee/share
ExecStart=/home/coffee/share/screenshare \
    -https-addr :8443 \
    -media-udp-port 54360 \
    -media-tcp-port 8444 \
    -media-ip 192.168.5.4 \
    -public-host frp-leg.com \
    -cert /home/coffee/share/cert.pem \
    -key /home/coffee/share/key.pem
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
